:root {
  --font-family--display: 'Luminari';
  --font-family--body: 'Baskerville';

  --color--accent: #DF7F83;
  --color--accent__hover: #c15943;
  --color--background: #FBF7E7;
}

body {
  padding: 0;
  margin: 0;
}
